.pokemon-info-container{
    max-width: 1260px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.loadingImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}